name: 'Terraform Course Pipeline'

on: 
  push:
    branches:
      - dev
      - main
    path:
      - '09-practica/**'
      - '.github/workflows/terraform-cicd.yaml'

env: 
  TF_VERSION: '1.13.5'
  TF_ACTION: 'apply'
  WORKING_DIR: '09-practica'

jobs:
  terraform: 
    name: 'Terraform Deploy'
    runs-on: ubuntu-lastest

    env: 
      ENVIRONMENT: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev'}}

    permissions:
      contents: read
      id-token: write

    defaults:
      run:
        working-directory: ${{ env.WORKING_DIR}}

    steps:
      - name: Checkout
        uses: actions/Checkout@4

      #- name: Stup Terraform
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_cersion: ${{ env.TF_VERSION}}

      - name: Configuracion de credenciales
        run: 
          echo "ARM_CLIENT_ID=${{ secrets.AZURE_CLIENT_ID }}" >> $GITHUB_ENV
          echo "ARM_CLIENT_SECRET=${{ secrets.AZURE_CLIENT_SECRET }}" >> $GITHUB_ENV
          echo "ARM_SUBSCRIPTION_ID=${{ secrets.AZURE_SUBSCRIPTION_ID }}" >> $GITHUB_ENV
          echo "ARM_TENANT_ID=${{ secrets.AZURE_TENANT_ID }}" >> $GITHUB_ENV

      - name: Mostrar entorno detectado
        run: |
          echo "La rama es: $GITHUB_REF"
          echo "El entorno detectado es: $ENVIRONMENT"

      - name: Terraform Format
        run: terrafrom fmt -check -recursive
        continue-on-error: true

      - name: Terraform Init
        run: terraform init 
        id: init

      - name: Seleccionar Workspace dinamico
        run: 
          terraform workspace select $ENVIRONMENT || terraform workspace new $ENVIRONMENT

      - name: Terraform validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform Plan -var-file="terraform.tfvars.${ENVIRONMENT}" -input=false

      - name: Ejecución de Terraform (Apply o Destroy)
        run: |
          echo "Ejecutando acción: $TF_ACTION"
          if [ "$TF_ACTION" = "apply" ]; then
            terraform apply -var-file="terraform.tfvars.${ENVIRONMENT}" -auto-approve
          elif [ "$TF_ACTION" = "destroy" ]; then
            terraform destroy -var-file="terraform.tfvars.${ENVIRONMENT}" -auto-approve
          else
            echo "Valor inválido para TF_ACTION: $TF_ACTION"
            exit 1
          fi


